

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="width:1150px">
    <div class="row">

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h3 class="text-center titulo ">Crear usuario</h3>
      </div>
      <hr>

      <div class="col-xs-5 col-sm-5 col-md-5 col-lg-4 col-xl-4 offset-xs-1 offset-sm-1 offset-md-1 offset-lg-2 offset-xl-4">
          <div class="account-wall">
              <div class="text-center">
                  <img src="./assets/img/logo.jpg" alt="">
              </div>
              <form [formGroup]="forma" (ngSubmit)="registrarUsuario()"  novalidate="" class="form-signin">
                <select class="form-control" name="tipo" formControlName="tipo" required>
                  <option >Tipo usuario</option>
                  <option value="1">General</option>
                  <option value="2">Administrador</option>
                </select>
                <input type="text" class="form-control" name="nombre" formControlName="nombre" placeholder="Nombre" autofocus="">
                <input type="email" class="form-control" name="correo" formControlName="correo" placeholder="Correo" autofocus="">
                <input type="password" class="form-control" name="contrasena" formControlName="contrasena" placeholder="Contraseña" required="">
                <br>  
                <div *ngIf="loginError" class="alert alert-danger text-center" role="alert">
                  {{loginError}}!!
                </div>
                <div *ngIf="registro" class="alert alert-success text-center" role="alert">
                    registro exito!! <br>
                    Antes de iniciar sesión verifique su correo.
                  </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="forma.invalid  ">
                    Registrar usuario
                </button>         
                <label class="checkbox pull-left"></label>
              </form>
            </div>
      </div>


    </div>
  </div>