<div class="col-sm-12">
    <section class="row">
      
      <div class="col-md-12 col-lg-8">
        <div class="jumbotron">
          <h1 class="mb-4">      <h1 class="site-title text-center"><a><em class="fa fa-graduation-cap fa-2x"> </em> SMT</a>
            <br>
            <small class="text-center ">Students Management Toll</small>
          </h1></h1>
          
          <p class="lead">SMT es una herramienta desarrolada para la gestion estudiantil.</p>
          
          <p>Nos ayuda a gestinal los procesos basicos de Inscripcones, Admisiones, matricula y caja menos del colegio Happy kids</p>
          
          <p class="lead"><a class="btn btn-primary btn-lg mt-2" href="#" role="button">Leer más</a></p>
        </div>
        
        
        <div class="card mb-4">
          <div class="card-block">
            <h3 class="card-title">Recent Orders</h3>
            
            <div class="dropdown card-title-btn-container">
              <button class="btn btn-sm btn-subtle" type="button"><em class="fa fa-list-ul"></em> View All</button>
              
              <button class="btn btn-sm btn-subtle dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><em class="fa fa-cog"></em></button>
              
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton"><a class="dropdown-item" href="#"><em class="fa fa-search mr-1"></em> More info</a>
                  <a class="dropdown-item" href="#"><em class="fa fa-thumb-tack mr-1"></em> Pin Window</a>
                  <a class="dropdown-item" href="#"><em class="fa fa-remove mr-1"></em> Close Window</a></div>
            </div>
            
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Order #</th>
                    
                    <th>Product</th>
                    
                    <th>Customer</th>
                    
                    <th>Status</th>
                  </tr>
                </thead>
                
                <tbody>
                  <tr>
                    <td>0001</td>
                    
                    <td>Product Name 1</td>
                    
                    <td>Customer 1</td>
                    
                    <td>Complete</td>
                  </tr>
                  
                  <tr>
                    <td>0002</td>
                    
                    <td>Product Name 2</td>
                    
                    <td>Customer 2</td>
                    
                    <td>Complete</td>
                  </tr>
                  
                  <tr>
                    <td>0003</td>
                    
                    <td>Product Name 3</td>
                    
                    <td>Customer 3</td>
                    
                    <td>Processing</td>
                  </tr>
                  
                  <tr>
                    <td>0004</td>
                    
                    <td>Product Name 4</td>
                    
                    <td>Customer 4</td>
                    
                    <td>Pending</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        


      </div>
      
      <div class="col-md-12 col-lg-4">
        <div class="card mb-4">
          <div class="card-block">
            <h3 class="card-title">Top Users</h3>
            
            <h6 class="card-subtitle mb-2 text-muted">Most active this week</h6>
            
            <div class="user-progress justify-center">
              <div class="col-sm-3 col-md-2" style="padding: 0;">
                <img src="./assets/img/user.jpg" alt="profile photo" class="circle profile-photo" style="width: 100%; max-width: 100px;">
              </div>
              
              <div class="col-sm-6 col-md-8">
                <h6 class="pt-1">Username 1</h6>
                
                <div class="progress progress-custom">
                  <div class="progress-bar bg-primary" style="width: 75%" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
              
              <div class="col-sm-3 col-md-2">
                <div class="progress-label">75%</div>
              </div>
            </div>
            
            <div class="user-progress justify-center">
              <div class="col-sm-3 col-md-2" style="padding: 0;">
                <img src="./assets/img/user.jpg" alt="profile photo" class="circle profile-photo" style="width: 100%; max-width: 100px;">
              </div>
              
              <div class="col-sm-6 col-md-8">
                <h6 class="pt-1">Username 2</h6>
                
                <div class="progress progress-custom">
                  <div class="progress-bar bg-primary" style="width: 50%" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
              
              <div class="col-sm-3 col-md-2">
                <div class="progress-label">50%</div>
              </div>
            </div>
            
            <div class="user-progress justify-center">
              <div class="col-sm-3 col-md-2" style="padding: 0;">
                <img src="./assets/img/user.jpg" alt="profile photo" class="circle profile-photo" style="width: 100%; max-width: 100px;">
              </div>
              
              <div class="col-sm-6 col-md-8">
                <h6 class="pt-1">Username 3</h6>
                
                <div class="progress progress-custom">
                  <div class="progress-bar bg-primary" style="width: 25%" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
              </div>
              
              <div class="col-sm-3 col-md-2">
                <div class="progress-label">25%</div>
              </div>
            </div>
            
            <div class="divider"></div>
            
            <div id="calendar"></div>
            
            <div class="divider"></div>
            
            <h3 class="card-title">Timeline</h3>
            
            <h6 class="card-subtitle mb-2 text-muted">What's coming up</h6>
            
            <ul class="timeline">
              <li>
                <div class="timeline-badge"><em class="fa fa-camera"></em></div>
                
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h5 class="timeline-title mt-2">Lorem ipsum</h5>
                  </div>
                  
                  <div class="timeline-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  </div>
                </div>
              </li>
              <li>
                <div class="timeline-badge primary"><em class="fa fa-link"></em></div>
                
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h5 class="timeline-title mt-2">Dolor</h5>
                  </div>
                  
                  <div class="timeline-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  </div>
                </div>
              </li>
              <li>
                <div class="timeline-badge"><em class="fa fa-paperclip"></em></div>
                
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h5 class="timeline-title mt-2">Sit amet</h5>
                  </div>
                  
                  <div class="timeline-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        
        <div class="card mb-4">
          <div class="card-block">
            <h3 class="card-title">Todo List</h3>
            
            <div class="dropdown card-title-btn-container">
              <button class="btn btn-sm btn-subtle dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><em class="fa fa-cog"></em></button>
              
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton"><a class="dropdown-item" href="#"><em class="fa fa-search mr-1"></em> More info</a>
                <a class="dropdown-item" href="#"><em class="fa fa-thumb-tack mr-1"></em> Pin Window</a>
                <a class="dropdown-item" href="#"><em class="fa fa-remove mr-1"></em> Close Window</a></div>
            </div>
            
            <h6 class="card-subtitle mb-2 text-muted">A simple checklist</h6>
            
            <ul class="todo-list mt-2">
              <li class="todo-list-item">
                <div class="form-check">
                  <input type="checkbox" id="checkbox-1" />
                  
                  <label for="checkbox-1">Make coffee</label>
                  
                  <div class="float-right action-buttons"><a href="#" class="trash"><em class="fa fa-trash"></em></a></div>
                </div>
              </li>
              <li class="todo-list-item">
                <div class="form-check">
                  <input type="checkbox" id="checkbox-2" />
                  
                  <label for="checkbox-2">Check emails</label>
                  
                  <div class="float-right action-buttons"><a href="#" class="trash"><em class="fa fa-trash"></em></a></div>
                </div>
              </li>
              <li class="todo-list-item">
                <div class="form-check">
                  <input type="checkbox" id="checkbox-3" />
                  
                  <label for="checkbox-3">Reply to Jane</label>
                  
                  <div class="float-right action-buttons"><a href="#" class="trash"><em class="fa fa-trash"></em></a></div>
                </div>
              </li>
              <li class="todo-list-item">
                <div class="form-check">
                  <input type="checkbox" id="checkbox-4" />
                  
                  <label for="checkbox-4">Work on the new design</label>
                  
                  <div class="float-right action-buttons"><a href="#" class="trash"><em class="fa fa-trash"></em></a></div>
                </div>
              </li>
              <li class="todo-list-item">
                <div class="form-check">
                  <input type="checkbox" id="checkbox-5" />
                  
                  <label for="checkbox-5">Get feedback</label>
                  
                  <div class="float-right action-buttons"><a href="#" class="trash"><em class="fa fa-trash"></em></a></div>
                </div>
              </li>
            </ul>
            
            <div class="card-footer todo-list-footer">
              <div class="input-group">
                <input id="btn-input" type="text" class="form-control input-md" placeholder="Add new task" /><span class="input-group-btn">
                  <button class="btn btn-primary btn-md" id="btn-todo">Add</button>
              </span></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="row">
      <div class="col-12 mt-1 mb-4">Hecho con <i class="fa fa-heart" aria-hidden="true"></i> por
        <a href="">Yuliet Torres y Ailen Cabrera</a>
      </div>
    </section>
  </div>