

<div class="container">  
    <div class="row bs-wizard" style="border-bottom:0;">

        <div class="col-xs-3 bs-wizard-step complete">
          <div class="text-center bs-wizard-stepnum">1. Inscripción</div>
          <div class="progress"><div class="progress-bar"></div></div>
          <a href="#" class="bs-wizard-dot"></a>
          <div class="bs-wizard-info text-center">Realización de formulario.</div>
        </div>

        <div class="col-xs-3 bs-wizard-step complete"><!-- status / complete - active - disabled-->
          <div class="text-center bs-wizard-stepnum">2. Pruebas de ingreso</div>
          <div class="progress"><div class="progress-bar"></div></div>
          <a href="#" class="bs-wizard-dot"></a>
          <div class="bs-wizard-info text-center">Examenes de matemáticas y castellano.</div>
        </div>

        <div class="col-xs-3 bs-wizard-step active"><!-- status -->
          <div class="text-center bs-wizard-stepnum">3. Admisión y registro</div>
          <div class="progress"><div class="progress-bar"></div></div>
          <a href="#" class="bs-wizard-dot"></a>
          <div class="bs-wizard-info text-center">Registro y pago de matrícula.</div>
        </div>

        <div class="col-xs-3 bs-wizard-step "><!-- status -->
          <div class="text-center bs-wizard-stepnum">3. Matrícula</div>
          <div class="progress"><div class="progress-bar"></div></div>
          <a href="#" class="bs-wizard-dot"></a>
          <div class="bs-wizard-info text-center">Legalización de matrícula.<div>
        </div>
    </div>
  
  </div>
  
  <div class="container mensajeSteps">
      <h4>
          ¡Felicidades! ya estas próximo a empezar clases en nuestro colegio, en este paso vamos a diligencias los documentos del niño(a) para poder erradicar la matrícula y pagarla.          
      </h4>
  </div>