  
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row">

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h3 class="text-center titulo ">Niños inscritos</h3>
      </div>
      <!-- Opciones de tabla -->
      <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
        <input type="text" name="buscar" id="buscar" placeholder="Buscar" class="form-control" [(ngModel)]="buscar">
      </div>
      <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
        <select name="ordenar" id="ordenar" class="form-control" [(ngModel)]="tipoOrden">
          <option *ngFor="let orden of ordenar" [value]="orden.value" >{{orden.name}}</option>
        </select>
      </div>
      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
         <button class="btn btn-success" (click)="exportarExcel()"> <i class="fa fa-download" aria-hidden="true"></i> Excel</button>
      </div>
      <!-- Opciones de tabla -->
      <br><br>
      <table class="table col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <thead>
          <tr>
            <th class="text-center">T.I. </th>              
            <th class="text-center">Nombres</th>
            <th class="text-center">Apellidos</th>
            <th class="text-center">Teléfonos</th>
            <th class="text-center">Email</th>
            <th class="text-center">Curso</th>
            <th>Matricular</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let admitido of admitidos | reverse | search:buscar | ordenar:tipoOrden; index">
            <td class="text-center">{{admitido.id}}</td>
            <td class="text-center">{{admitido.nombres}}</td>
            <td class="text-center">{{admitido.apellidos}} </td>
            <td class="text-center">{{admitido.telefonos}}{{admitido.celularMama}}</td>
            <td class="text-center">{{admitido.correoMama}}</td>
            <td class="text-center">{{admitido.grado}}</td>
            
            <td class="text-center">
              <label class="switch">
                <input type="checkbox" [(ngModel)]="admitido[admitido.id]" (change)="matricularModal(admitido, contentAdd)" />
                <span class="slider round"></span>
              </label>
            </td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>


    <!-- MODAL ADMITIR INSCRITOS -->
    <ng-template #contentAdd let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title">Admisión</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>¿Esta seguro que desea aprotar la niño como matriculado?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Cerrar</button>
          <button type="button" class="btn btn-outline-dark" (click)="matricular()">Matricular</button>        
        </div>
      </ng-template>
      <!--FIN MODAL ADMITIR INSCRITO -->