
		
<div class="container">  
  <div class="row bs-wizard" style="border-bottom:0;">
      
      <div class="col-xs-3 bs-wizard-step complete">
        <div class="text-center bs-wizard-stepnum">1. Inscripción</div>
        <div class="progress"><div class="progress-bar"></div></div>
        <a href="#" class="bs-wizard-dot"></a>
        <div class="bs-wizard-info text-center">Realización de formulario.</div>
      </div>
      
      <div class="col-xs-3 bs-wizard-step active"><!-- status / complete - active - disabled-->
        <div class="text-center bs-wizard-stepnum">2. Pruebas de ingreso</div>
        <div class="progress"><div class="progress-bar"></div></div>
        <a href="#" class="bs-wizard-dot"></a>
        <div class="bs-wizard-info text-center">Examenen de matematicas y castellano.</div>
      </div>
      
      <div class="col-xs-3 bs-wizard-step "><!-- complete -->
        <div class="text-center bs-wizard-stepnum">3. Admisión y registro</div>
        <div class="progress"><div class="progress-bar"></div></div>
        <a href="#" class="bs-wizard-dot"></a>
        <div class="bs-wizard-info text-center">Registro y pago de matricula.</div>
      </div>
      
      <div class="col-xs-3 bs-wizard-step "><!-- active -->
        <div class="text-center bs-wizard-stepnum">3. Matrículado</div>
        <div class="progress"><div class="progress-bar"></div></div>
        <a href="#" class="bs-wizard-dot"></a>
        <div class="bs-wizard-info text-center">Legalización de matrícula.<div>
      </div>
  </div>

</div>  

<div class="container mensajeSteps">
    <h4>
        En los próximos días se le enviara un mensaje al correo electrónico que acabo de registrar en el formulario, con la fecha y hora de los exámenes de admisión, muchas gracias por elegirnos
    </h4>
</div>