
<div class="row justify-content-xs-center justify-content-sm-center justify-content-md-center justify-content-lg-center justify-content-xl-center">
  <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4">
      <h1 class="text-center login-title"></h1>
      <div class="account-wall">
          <div class="text-center">
              <img src="./assets/img/logo.jpg" alt="">
          </div>
          
          <form class="form-signin" novalidate="" [formGroup]="forma" (ngSubmit)="login(forma.value.pin)">
          <input type="text" class="form-control" name="pin" placeholder="Ingrese su pin" autofocus="">
          <br>
          <div *ngIf="loginError" class="alert alert-danger text-center" role="alert">
              {{loginError}}!!
          </div>
          <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="forma.invalid  ">
              Iniciar Sesión
          </button>

          </form>
      </div>
      </div>
</div>
