<div class="card">
  <div class="card-block">
    <h3 class="text-center titulo ">Generar pín</h3>

        <p class="grey-text">
          En el siguiente formulario ingrese el número de identificación del registro civil o tarjeta de identidad, nombres y apellidos del niño.
        </p>
        
        <form name="form" id="formulario" [formGroup]="forma" (ngSubmit)="generarPin()">

          <div class="form-group row">
            <label for="tipoIdentificacion" class="col-xs-4 col-sm-3 col-md-4 col-lg-4 col-form-label">tipo de identificacion:</label>
            <div class="col-xs-4 col-sm-6 col-md-4 col-lg-4">
              <select name="tipoIdentidad" class="form-control" id="" formControlName="tipoIdentificacion" >
                <option value="">Selecione</option>
                <option value="1">Registro civil</option>
                <option value="2">Tarjeta de identidad</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
              <label for="cedula" class="col-xs-4 col-sm-3 col-md-4 col-lg-4 col-form-label">N° de identificación:</label>
              <div class="col-xs-4 col-sm-6 col-md-4 col-lg-4">
                <input class="form-control" type="number" id="cedula" formControlName="cedula" placeholder="N° de identificacion:">
              </div>
            </div>

          <div class="form-group row">
              <label for="nombres" class="col-xs-4 col-sm-3 col-md-4 col-lg-4 col-form-label">Nombres:</label>
              <div class="col-xs-4 col-sm-6 col-md-4 col-lg-4">
                <input class="form-control" type="text" id="nombres" formControlName="nombres" placeholder="Nombres">
              </div>
          </div>

            <div class="form-group row">
                <label for="Apellidos" class="col-xs-4 col-sm-3 col-md-4 col-lg-4 col-form-label">Apellidos:</label>
                <div class="col-xs-4 col-sm-6 col-md-4 col-lg-4">
                  <input class="form-control" type="text" id="Apellidos" formControlName="apellidos" placeholder="Apellidos">
                </div>
            </div>

            <div class="form-group row">
                <label for="Apellidos" class="col-xs-4 col-sm-3 col-md-4 col-lg-4 col-form-label">Teléfono:</label>
                <div class="col-xs-4 col-sm-6 col-md-4 col-lg-4">
                  <input class="form-control" type="number" id="telefono" formControlName="telefono" placeholder="Teléfono">
                </div>
            </div>

            <div *ngIf="result" class="alert alert-success text-center" role="alert">
                {{result}}!!
            </div>
            <div *ngIf="error" class="alert alert-danger text-center" role="alert">
                {{error}}!!
            </div>

            <div class="text-center boton">
              <button class="btn btn-success" type="submit" [disabled]="forma?.invalid">
                Generar <i class="fa fa-refresh" aria-hidden="true" ></i>
              </button>
            </div>


        </form>

    </div>
</div>



  <script src="../controller/Pin/pin.js"></script>