<div class="col s12 center valign-wrapper" aligns="center ">
  <div class="card col s10 valign">
    <div class="card-content ">
      <h5>CENTRO DE ENSEÑANZA Y ESTIMULACIÓN HAPPY KIDS</h5>
      <P>Licencia de funncionamiento mediante resolución N° 416 de 2011 </P>
      <p>NIVELES MATERNAL, PREESCOLAR Y PRIMARIA</p>
      <hr>
      <P>"ATENCION INTEGRAL PARA POTENCIAR VALORES, CAPACIDADES Y HABILIDADES DE NIÑOS Y NIÑAS"</P>
      <hr>
      <br>
      <H4>FORMATO DE INSCRIPCIÓN</H4>
    </div>
  </div>
</div>