  
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h3 class="text-center titulo ">Pines Generados</h3>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <input type="text" name="buscar" id="buscar" placeholder="Buscar" class="form-control">
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <select name="ordenar" id="ordenar" class="form-control" >
          <option value="">Ordenar por</option>
          <option ></option>
        </select>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <input type="text" name="elementos" id="elementos" placeholder="Numero de elementos" value="8" class="form-control">
      </div>
      <br><br>
      <table class="table col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <thead>
          <tr>
            <th class="text-center">Cédula </th>              
            <th class="text-center">Nombres</th>
            <th class="text-center">Apellidos</th>
            <th class="text-center">Teléfono</th>
            <th class="text-center">Pin</th>
            <th class="text-center">Redimido</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pin of pines | async | reverse; index">
            <td class="text-center">{{pin.cedula}}</td>
            <td class="text-center">{{pin.nombres}}</td>
            <td class="text-center">{{pin.apellidos}}</td>
            <td class="text-center">{{pin.telefono}}</td>
            <td class="text-center">{{pin.pin}}</td>
            <td class="text-center">
              <span *ngIf="pin.estado == 1">No</span>
              <span *ngIf="pin.estado != 1">Si</span>
            </td>
            
            
            <!-- <td class="text-center">
              <a href="" class="option" title="Detalles"><i class="fa fa-file-text-o" aria-hidden="true"></i></a>
              <a href="" class="option" title="Editar"><i class="fa fa-pencil" aria-hidden="true"></i></a>
              <a href="" class="option" title="Eliminar"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
            </td> -->

          </tr>
        </tbody>
      </table>
    </div>
  </div>
