  
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <input type="text" name="buscar" id="buscar" placeholder="Buscar" class="form-control">
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <select name="ordenar" id="ordenar" class="form-control" >
          <option value="">Ordenar por</option>
          <option ngRepeat="orden for ordenar; $index" [value]="orden.value">{{orden.name}}</option>
        </select>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <input type="text" name="elementos" id="elementos" placeholder="Numero de elementos" value="8" class="form-control">
      </div>
      <br><br>
      <table class="table col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <thead>
          <tr>
            <th class="text-center">Nombres</th>
            <th class="text-center">Apellidos</th>
            <th class="text-center">Teléfonos</th>
            <th class="text-center">Correos </th>
            <th class="text-center">Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>sddddd ddddddd</td>
            <td>sdddddsds dsd</td>
            <td>sdsds sdsd</td>
            <td>dfgsdsd sdsds</td>
            <td><i class="fa fa-delete"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
