  
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row">

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h3 class="text-center titulo ">Caja menor</h3>
      </div>
      <hr>
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
          <br><br>
          <table class="table col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <thead>
              <tr>
                <th class="text-center">Fecha </th>              
                <th class="text-center">Concepto</th>
                <th class="text-center">Debe</th>
                <th class="text-center">Haber</th>
                <th class="text-center">Saldo</th>
                <th class="text-center">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr >
                <td class="text-center">{{fechaApertura}}</td>
                <td class="text-center">Apertura caja</td>
                <td class="text-center">{{saldoApertura | currency}}</td>
                <td class="text-center"></td>
                <td class="text-center">{{saldoApertura | currency}}</td>
                <td class="text-center"></td>
              </tr>
              <tr *ngFor="let movimiento of movimientos; index">
                <td class="text-center">{{movimiento.fecha}}</td>
                <td class="text-center">{{movimiento.concepto}}</td>
                <td class="text-center">{{movimiento.debe | currency}}</td>
                <td class="text-center">{{movimiento.haber | currency}}</td>
                <td class="text-center">{{movimiento.saldo | currency}}</td>
                <td class="text-center"><button class="btn btn-info btn-sm" (click)="modalActualizarMovimineto(contentEdit, movimiento)">Editar</button></td>
              </tr>
              <tr>
                <td><input type="text" class="form-control" name="fecha" [(ngModel)]="fecha" placeholder="Fecha" /></td>
                <td><input type="text" class="form-control" name="concepto" [(ngModel)]="concepto" placeholder="Concepto"/></td>
                <td><input type="number" class="form-control" name="debe" [(ngModel)]="debe" placeholder="Debe" [disabled]="haber"/></td>
                <td><input type="number" class="form-control" name="haber" [(ngModel)]="haber" placeholder="Haber" [disabled]="debe"/></td>
                <td>{{saldoTotal - haber + debe | currency}}</td>
                <td class="text-center"> <button class="btn btn-success" (click)="guardarMovimiento()" [disabled]="!concepto || (debe==0 && haber==0)">Guardar</button></td>
              </tr>
              <tr>
                  <td></td>
                  <td><strong>Saldo total: </strong></td>
                  <td></td>
                  <td></td>
                  <td>{{saldoTotal- haber + debe | currency }}</td>
                  <td class="text-center"></td>
                </tr>
            </tbody>
          </table>
      </div>

    </div>
  </div>


    <!-- MODAL EDITAR GASTO -->
    <ng-template #contentEdit let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">Editar gasto</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>A continuación se mostrara la información del gasto que usted procedera a editar.</p>
        <br>
        <input type="text" class="form-control" name="fecha" [(ngModel)]="movimientoEditar.fecha" placeholder="Fecha" />
        <input type="text" class="form-control" name="concepto" [(ngModel)]="movimientoEditar.concepto" placeholder="Concepto"/>
        <input type="number" class="form-control" name="haber" [(ngModel)]="movimientoEditar.debe" placeholder="Debe" [disabled]="movimientoEditar.haber"/>
        <input type="number" class="form-control" name="haber" [(ngModel)]="movimientoEditar.haber" placeholder="Haber" [disabled]="movimientoEditar.debe"/>
      </div>
      <div class="alert alert-success text-center" *ngIf="successUpdate">{{successUpdate}}</div>
      <div class="alert alert-error text-center" *ngIf="errorUpdate">{{errorUpdate}}</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Cerrar</button>
        <button type="button" class="btn btn-success" (click)="ActualizarMovimiento()" [disabled]="!movimientoEditar.concepto || (movimientoEditar.debe==0 && movimientoEditar.haber==0)">Actualizar</button>        
      </div>
    </ng-template>
    <!--FIN MODAL EDITAR GASTO -->