    <div class="row justify-content-auto-center justify-content-md-center justify-content-lg-center justify-content-xl-center">
        <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4">
            <h1 class="text-center login-title"></h1>
            <div class="account-wall">
              <div class="text-center">
                  <img src="./assets/img/logo.jpg" alt="">
              </div>
                
                <form class="form-signin">
                <input type="text" class="form-control" placeholder="Correo" required="" autofocus="">
                <input type="password" class="form-control" placeholder="Contraseña" required="">
                <br>  
                <button class="btn btn-lg btn-primary btn-block" type="submit">
                    Iniciar Sesión</button>
                <label class="checkbox pull-left">
                    
                </label>
                <a href="" class="pull-right need-help">Recuperar contraseña </a><span class="clearfix"></span>
                </form>
            </div>
          </div>
    </div>
