<header class="row justify-center header">
    <div class="col-xs-12 col-md-6 col-lg-8">
        <h4 class="site-title">
          <a><em class="fa fa-graduation-cap fa-1x"></em> SMT</a> <small class="text-center ">Students Management Toll</small>
        </h4>
    </div>
    
    <div class="dropdown user-dropdown col-md-6 col-lg-4 text-center text-md-right"><a class="btn btn-stripped dropdown-toggle" href="https://example.com" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <img src="./assets/img/user.jpg" alt="profile photo" class="circle float-left profile-photo" width="38" height="auto">
      
      <div class="username mt-1">
        <h6 class="mb-1">Usuario</h6>
        
        <h6 class="text-muted rol">Super Admin</h6>
      </div>
      </a>
      
      <div class="dropdown-menu dropdown-menu-right" style="margin-right: 1.5rem;" aria-labelledby="dropdownMenuLink"><a class="dropdown-item" href=""><em class="fa fa-user-circle mr-1"></em> Ver perfil</a>
           <a class="dropdown-item"  (click)="cerrarSesion()"><em class="fa fa-power-off mr-1" ></em> Salir</a></div>
    </div>
    <hr>
  </header>

