<div class="col-12">
    <section class="row">
      
      <div class="col-xs-12 col-sm-12 col-md-12 offset-lg-1 col-lg-11">
        <div class="jumbotron">
          <h1 class="mb-4">      
            <h1 class="site-title text-center"><a><em class="fa fa-graduation-cap fa-2x"> </em> SMT</a>
            <br>
            <small class="text-center ">Students Management Toll</small>
            </h1>
          </h1>
          <p class="text-center">SMT es una herramienta desarrollada para la gestión estudiantil.</p>
          <p>Nos ayuda a gestionar los procesos básicos de inscripciones, admisiones, matrícula y caja menor del colegio Happy kids.</p>
        </div>
      </div>
      
    </section>
    <section class="row text-left">
      <div class="col-xs-12 col-sm-12 offset-md-3 col-md-7 offset-lg-4 col-lg-6 ">Hecho con <i class="fa fa-heart" aria-hidden="true"></i> por
        <a href="">Yulieth Torres y Ailen Correa</a>
      </div>
    </section>
  </div>