      
    <nav class="sidebar col-xs-3 col-sm-3 col-lg-3 col-xl-2">
          
      <h1 class="site-title text-center"><a><em class="fa fa-graduation-cap fa-2x"> </em> SMT</a>
        <br>
        <small class="text-center ">Students Management Toll</small>
      </h1>
      
      <a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><em class="fa fa-bars"></em></a>
        
        <ul class="nav nav-pills flex-column sidebar-nav">
            <li class="nav-item" ><a class="nav-link" [routerLink]="['inicio']" routerLinkActive="active" ><em class="fa fa-home"></em> Inicio <span class="sr-only">(current)</span></a></li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['pines']" routerLinkActive="active" ><em class="fa fa-file-code-o"></em> Pines <span class="sr-only">(current)</span></a></li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['inscritos']" routerLinkActive="active" ><em class="fa fa-address-card"></em> Inscritos <span class="sr-only">(current)</span></a></li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['admitidos']" routerLinkActive="active" ><em class="fa fa-address-card-o"></em> Admitidos <span class="sr-only">(current)</span></a></li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['matriculados']" routerLinkActive="active" ><em class="fa fa-folder-o"></em> Matriculados <span class="sr-only">(current)</span></a></li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['transacciones']" routerLinkActive="active" ><em class="fa fa-exchange"></em> Transacciones <span class="sr-only">(current)</span></a></li>
            <li class="nav-item"><a class="nav-link" [routerLink]="['administradores']" routerLinkActive="active" ><em class="fa fa-user-o"></em> Administradores <span class="sr-only">(current)</span></a></li>
        </ul>

        <a href="#" class="logout-button" (click)="cerrarSesion()"><em class="fa fa-power-off"></em> Salir</a>
    
    </nav>
   