  
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="row">

      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h3 class="text-center titulo ">Lista de usuarios</h3>
      </div>
      <!-- Opciones de tabla -->
      <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
        <input type="text" name="buscar" id="buscar" placeholder="Buscar" class="form-control" [(ngModel)]="buscar">
      </div>
      <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
        <select name="ordenar" id="ordenar" class="form-control" [(ngModel)]="tipoOrden">
          <option *ngFor="let orden of ordenar" [value]="orden.value" >{{orden.name}}</option>
        </select>
      </div>
      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
         <button class="btn btn-success" (click)="exportarExcel()"> <i class="fa fa-download" aria-hidden="true"></i> Excel</button>
      </div>
      <!-- Opciones de tabla -->
      <br><br>
      <table class="table col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <thead>
          <tr>
            <th class="text-center">Uid</th>              
            <th class="text-center">Nombre</th>
            <th class="text-center">correo</th>
            <th class="text-center">Tipo de usuario</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let usuario of usuarios | reverse | search:buscar | ordenar:tipoOrden; index">
            <td class="text-center">{{usuario.uid}}</td>
            <td class="text-center">{{usuario.nombre}}</td>
            <td class="text-center">{{usuario.correo}} </td>
            <td class="text-center" *ngIf="usuario.tipo==1">General</td>
            <td class="text-center" *ngIf="usuario.tipo==2">Administrador</td>
            <!--<td class="text-center">
              <button class="btn" title="Requisitos" (click)="requerimientosModal(admitido, contentRequerimientos)"><i class="fa fa-list" aria-hidden="true"></i></button>
              <button class="btn" title="Detalles" (click)="detallesAdmitido(admitido.id, content)"><i class="fa fa-file-text-o" aria-hidden="true"></i></button>
            </td>   -->         
          </tr>
        </tbody>
      </table>
    </div>
  </div>