<div class="row justify-content-xs-center justify-content-sm-center justify-content-md-center justify-content-lg-center justify-content-xl-center">
  <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4">
      <h1 class="text-center login-title"></h1>
      <div class="account-wall">
        <div class="text-center">
            <img src="./assets/img/logo.jpg" alt="">
        </div>
          <form [formGroup]="forma" (ngSubmit)="registrarUsuario()"  novalidate="" class="form-signin">
          <select class="form-control" name="tipo" formControlName="tipo" required>
            <option value="1">General</option>
            <option value="2">Administrador</option>
          </select>
          <input type="text" class="form-control" name="correo" formControlName="correo" placeholder="Correo" autofocus="">
          <input type="password" class="form-control" name="contrasena" formControlName="contrasena" placeholder="Contraseña" required="">
          <br>  
          <div *ngIf="loginError" class="alert alert-danger text-center" role="alert">
            {{loginError}}!!
          </div>
          <div *ngIf="registro" class="alert alert-success text-center" role="alert">
              registro exito!! <br>
              Antes de iniciar sesión verifique su correo.
            </div>
          <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="forma.invalid  ">
              Registrar usuario
            </button>
            <button class="btn btn-lg btn-primary btn-block" [routerLink]="['/login']">
               Iniciar sesión
              </button>
          
          <label class="checkbox pull-left">
      
          </label>
          <a href="" class="pull-right need-help">Acepto términos y condiciones </a><span class="clearfix"></span>
          </form>
      </div>
    </div>
</div>